<div class="pagecontent">
	<div>
		<!--<a ui-sref="dominion.effect({ effectId: 1})">Effect 1</a>-->
		<nav class='navbar navbar-dominionheader navbar-default navbar-dominionheader-default'>
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-dominionheader-nav">
					<li><a ui-sref="dominion.trees">Trees</a></li>
					<li><a ui-sref="dominion.techniques">Techniques</a></li>
					<li><a ui-sref="dominion.effects">Effects</a></li>
					<li><a ui-sref="dominion.disadvantages">Disadvantages</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div ui-view="">
		<p>Welcome to the Dominion module!</p>

		<p>By following the links above, you can reference information related to the Dominion of Ki from the Anima: Beyond Fantasy RPG.</p>

		<ul>
			<li>Trees: This is a listing of various families of related techniques that are available for use.</li>
			<li>Techniques: This is a general list of all the techniques hosted here if you're just looking for one.</li>
			<li>Effects: This is a listing of the effects taht techniques are allowed to have, their costs and modifiers.</li>
			<li>Disadvantages: This lists off disadvantages you can take with a technique to reduce its cost in MK</li>
		</ul>

		<p>This is still a work in progress, so feel free to leave any suggestions for improvement with me through the email link in the footer.</p>
	</div>
</div>
