<div class="pagecontent">
	<div>
		<!--<a ui-sref="dominion.effect({ effectId: 1})">Effect 1</a>-->
		<nav class='navbar navbar-dominionheader navbar-default navbar-dominionheader-default'>
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-dominionheader-nav">
					<li><a ui-sref="dominion.trees">Trees</a></li>
					<li><a ui-sref="dominion.techniques">Techniques</a></li>
					<li><a ui-sref="dominion.effects">Effects</a></li>
					<li><a ui-sref="dominion.disadvantages">Disadvantages</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div ui-view="">
	</div>
</div>
