<div class="pagecontent text-center">
    <h1>Welcome!</h1>
    <p>You've reached the portfolio of Brandon Slick!</p>   
    <p>I hope you don't mind the dust, things are still getting settled in around here.</p>  
    <p>If you want to know more about me, hit the About link above.  If you'd like to see the guts of the site, hit the Github link in the footer.</p> 
    <p>
    	Here's what's on the site right now:
    	<ul>
    		<li>Dominion:  This application is designed as a reference for the Dominion ki techniques from the Anima: Beyond Fantasy RPG.  It's using a Django REST API as the backend, and it's currently read-only.</li>
    	</ul>
    </p> 
</div>
